<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/chat.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/flex.css" />
    <link rel="stylesheet" href="/assets/css/avatar.css" />
    <link rel="stylesheet" href="/assets/css/loading.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />






    <title>chat</title>
  </head>
  <body>
    <section>
      <div>
        <div class="the-flex">
          <div class="chat-left-side">
            <div class="chat-head">
              <div class="logo">
                <img
                  id="logo"
                  src="/assets/images/1.png"
                  class="img-fluid"
                  alt=""
                />
              </div>

              <!-- interest modal -->


              <div
                class="modal fade"
                id="createinterest"
                tabindex="-1"
                role="dialog"
                aria-labelledby="editName"
                aria-hidden="true"
              >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="">
                    <h4
                      class="text-center font-weight-bold pt-3"
                      id="exampleModalLongTitle"
                    >
                      Create Interest
                    </h4>

                  </div>
                  <div class="modal-body">
                    <div>
                      <form method="POST" action="/createinterest" class="form-group" >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Interest Name"
                          name="name"
                         />

                        <div class="modal-footer">
                        <button
                           type="button"
                           class="modal-button"
                          data-dismiss="modal"
                        >
                          Cancel
                        </button>
                       <button
                         type="submit"
                        class="modal-button"

                        >
                        Create
                      </button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
                </div>


              <!-- interest modal -->



              <div class="chat-head-icons">
                <!-- create interest  -->
                <!-- <div><img src="assets/svgs/add.svg" alt="" /></div> -->
                <div

                data-toggle="modal"
                data-target="#createinterest"

          >
            <img src="/assets/svgs/add.svg"
             alt=""/>

             <!-- create interest ends -->

          </div>
                <div class="search-bar">
                  <img
                    class="search-icon"
                    src="assets/svgs/Icons-search-gray.svg"
                    alt=""
                  />

                  <form class="search" action="">
                    <!-- <input class="search" type="text" placeholder="Search" /> -->
                    <input class="search" type="text" placeholder="Search" />
                    <img src="/assets/svgs/tick.svg" alt="" />
                    <input class='utk' type='hidden' value='<%= token %>'/>
                    <input class='un' type='hidden' value='<%= username %>'/>
                    <img src="assets/svgs/tick.svg" alt="" />
                  </form>
                </div>
                <div class="dropdown">
                  <div
                    type="button"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    style="padding: 0; margin-top: 2.5px"
                  >
                    <img src="assets/svgs/icons-dark-more.svg" alt="" />
                  </div>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton"
                  >
                    <a class="dropdown-item" href="#">
                      <span
                        class="iconify"
                        data-icon="carbon:arrows-vertical"
                        data-inline="false"
                      ></span>
                      Sort By (A/Z,Z/A)
                    </a>
                    <a class="dropdown-item" href="#">
                      <span
                        class="iconify"
                        data-icon="codicon:feedback"
                        data-inline="false"
                      ></span>
                      Feedback
                    </a>
                    <a class="dropdown-item" href="#"
                      ><span
                        class="iconify"
                        data-icon="bytesize:user"
                        data-inline="false"
                      ></span
                      >My Profile</a
                    >
                  </div>
                </div>
              </div>



            </div>
            <div class="chat-body">
              <nav>
                <div class="nav chat-nav" id="nav-tab" role="tablist">
                  <a
                    class="nav-item nav-link active"
                    id="nav-home-tab"
                    data-toggle="tab"
                    href="#nav-home"
                    role="tab"
                    aria-controls="nav-home"
                    aria-selected="true"
                    >INTEREST</a
                  >
                  <a
                    class="nav-item nav-link"
                    id="nav-profile-tab"
                    data-toggle="tab"
                    href="#nav-profile"
                    role="tab"
                    aria-controls="nav-profile"
                    aria-selected="false"
                    >DISCOVER</a
                  >
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div
                  class="tab-pane fade show active"
                  id="nav-home"
                  role="tabpanel"
                  aria-labelledby="nav-home-tab"
                >

                  <div class="chat-list drop-right" id="chat">
                    <% if( joined.length>0){ %>

                      <% for(var i = 0; i<joined.length; i++ ){ %>
                        <!--<a href="/chat-messages/<%= joined[i].interest_name %>" class="link-to-page">-->
                          <a href="javascript:void(0)" data-interest="<%= joined[i].interest_id %>" class="link-to-page open-interest-chat">
                          <div class="chat-block" data-interest='<%= joined[i].interest_id %>'>
                            <div class="chat-block_flex">
                              <div class="chat-block_flex_img_container">
                                <img
                                  src="/assets/images/chat-img.png"
                                  class="img-fluid"
                                  alt="chat-logo"
                                />
                                <span class="total-members" data-interest="<%= joined[i].interest_id %>"><%= joined[i].memberCount %> </span>
                              </div>
                              <div  class="message-preview">

                                <strong><%= joined[i].interest_name %></strong>
                                <figcaption class="chat-intro last-message" data-interest="<%= joined[i].interest_id %>">

                                </figcaption>
                              </div>
                              <div class="time-and-badge">
                                <figcaption class="last-message-time" data-interest="<%= joined[i].interest_id %>"><b></b></figcaption>
                                <figcaption style='display:none;' class="unreadCont" data-interest="<%= joined[i].interest_id %>">
                                  <div class="number-badge unread" data-interest="<%= joined[i].interest_id %>"></div>
                                </figcaption>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown-menu delete-dropdown">
                            <span
                              class="iconify"
                              data-icon="gridicons-trash"
                              data-inline="false"
                            ></span
                            >Delete
                          </div>
                        </a>
                        <% } %>
                    <% }else{ %>
                        <h6 style="text-align: center;padding-top: 10px;"> You have not joined any interests </h6>
                      <% } %>


                  </div>

                </div>
                <div
                  class="tab-pane fade"
                  id="nav-profile"
                  role="tabpanel"
                  aria-labelledby="nav-profile-tab"
                >
                  <div class="chat-list">
                    <% for(var i = 0; i<interests.length; i++){ %>
                    <div class="chat-block">
                      <div class="chat-block_flex_between pl-3 pr-3">
                        <div class="d-flex">
                          <div class="chat-block_flex_img_container">
                            <img
                              src="/assets/images/chat-img.png"
                              class="img-fluid"
                              alt="chat-logo"
                            />
                            <span class="total-members"><%= interests[i].memberCount %></span>
                          </div>
                          <strong class="strong"><%= interests[i].name %></strong>
                        </div>
                        <div
                          class="add-icon-container"
                          type="button"
                          data-toggle="modal"
                          data-target="#addInterest<%= interests[i].name %>"
                          class="edit-link"
                          class="edit-link"
                        >
                          <img
                            src="/assets/images/add-white.svg"
                            class="add-icon"
                            alt=""
                          />
                        </div>
                      </div>
                      <!-- modal for adding interest -->
                      <div
                        class="modal fade"
                        id="addInterest<%= interests[i].name %>"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="editName"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="">
                              <h4
                                class="text-center font-weight-bold pt-3"
                                id="exampleModalLongTitle"
                              >
                                Add <%= interests[i].name %> to Interests?
                              </h4>
                              <!-- <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button> -->
                            </div>
                            <div class="text-center">
                              <div></div>
                            </div>
                            <div class="mx-auto pb-4">
                              <button
                                type="button"
                                class="modal-button"
                                data-dismiss="modal"
                              >
                                No
                              </button>
                              <button type="button" class="addInterestBtn modal-button" data-target= "<%= interests[i].id %>" data-dismiss="modal">
                                Yes
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%- include(subRoute) %>
        </div>
      </div>
    </section>
    <script src="/assets/js/compressor.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="/assets/js/custom2.js"></script>
    <script src="/assets/js/custom3.js"></script>
    <script src="https://50.18.102.80/socket.io/socket.io.js"></script>
    <script src="/assets/js/chat.js"></script>
  </body>
</html>
