      
          <!-- profile  section -->
          <div class="chat-messages_2 profile">
            <div class="cover-img" id="coverP">
              <p id="coverPath" style="display: none;"> <%= coverPhoto %></p>
              <div class="profile-icons">
                <div class="profile-icons-more dropdown">
                  <div
                    type="button"
                    id="dropdownMenuProfile"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    class="text-white"
                  >
                    <span
                      class="iconify text-white"
                      data-icon="ph:dots-three-vertical-bold"
                      data-inline="false"
                    ></span>
                  </div>
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuProfile"
                  >
                    <a class="dropdown-item" href="#">
                      <span
                        class="iconify"
                        data-icon="bx:bx-lock-open"
                        data-inline="false"
                      ></span>
                      Change Password
                    </a>

                    <a class="dropdown-item" href="/logout"
                      ><span
                        class="iconify"
                        data-icon="ion:log-out-outline"
                        data-inline="false"
                      ></span
                      >Log out</a
                    >
                  </div>
                </div>
                <div class="profile-icons-edit-cover">
                  <form method="POST" action="/updateprofilecover" id="cover-img-form">
                  <label for="file-upload">
                    <input
                      accept="image/*"
                      name="coverPhoto"
                      type="file"
                      id="cover-upload"
                      
                     />
                  </label>
                  <img src="assets/svgs/yellow-edit.svg" alt="" />
                  </form>
                </div>
              </div>
              <div class="profile-img-container">
                <form action="post" id="image-form">
                  <div>
                    <img
                      src="http://50.18.102.80<%= avatarPhoto %>"
                      class="img-fluid"
                      id="image-preview"
                      alt="profile-img"
                    />
                  </div>
                  <!-- <label class="green-color" id="image-upload-label" for="file-upload">
                  <input  accept="image/*" name="picture" type="file" id="file-upload" name="">
                  UPLOAD PHOTO
                </label> -->
                  <label
                    class="edit-profile-img"
                    id="image-upload-label"
                    for="file-upload"
                  >
                    <input
                      accept="image/*"
                      name="picture"
                      type="file"
                      id="file-upload"
                      
                    />

                    <img
                      src="assets/svgs/red-edit.svg"
                      class="img-fluid"
                      alt=""
                    />
                  </label>
                </form>
              </div>
            </div>
            <div>
              <div class="pt-5 text-center">
                <h4 class="font-weight-bold"><%= username %></h4>
                <p class="grey-text"><%= location %></p>
              </div>
              <div class="">
                <div class="description-flex profile-description">
                  <div>
                  <figcaption class="edit-option">
                    <span>Description</span>
                  </figcaption>
                  <p class="details"> <%= description %> 
                  </p>
                  </div>
                  <div>
                   <p
                      type="button"
                      data-toggle="modal"
                      data-target="#editdescription"
                      class="edit-link"
                    >
                      Edit
                    </p>
                  </div>
                </div>
                <div class="description-flex profile-description">
                  <div>
                    <figcaption class="edit-option">
                      <span>Username</span>
                    </figcaption>
                    <p class="details"><%= username %>
                    </p>
                  </div>
                  <div>
                   
                    <p
                      type="button"
                      data-toggle="modal"
                      data-target="#editName"
                      class="edit-link"
                    >
                      <!-- Edit -->
                    </p>
                  </div>
                </div>
                <div class="description-flex profile-description">
                  <div>
                    <figcaption class="edit-option">
                      <span>Email</span>
                    </figcaption>
                    <p class="details"> <%= email %></p>
                  </div>
                  <div>
                    <p
                      type="button"
                      data-toggle="modal"
                      data-target="#editEmail"
                      class="edit-link"
                      class="edit-link"
                    >
                      <!-- Edit -->
                    </p>
                  </div>
                </div>
                <hr />
                <div class="description-flex profile-description">
                  <div>
                    <figcaption class="edit-option">
                      <span>Location</span>
                    </figcaption>
                    <p class="details"><%= location %></p>
                  </div>
                  <div>
                    <p
                      type="button"
                      data-toggle="modal"
                      data-target="#editLocation"
                      class="edit-link"
                      class="edit-link"
                    >
                      Edit
                    </p>
                  </div>
                </div>
                <div class="description-flex profile-description">
                  <div>
                    <figcaption class="edit-option">
                      <span>Receive notifications</span>
                    </figcaption>
                    <p class="details">Enabled</p>
                  </div>
                  <div>
                    <label class="switch">
                      <input type="checkbox" checked />
                      <span class="slider round"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modal -->

        <!-- modal for description -->
            <div
              class="modal fade"
              id="editdescription"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editName"
              aria-hidden="true"
            >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="">
                  <h4
                    class="text-center font-weight-bold pt-3"
                    id="exampleModalLongTitle"
                  >
                    Edit Description
                  </h4>
                  
                </div>
                <div class="modal-body">
                  <div>
                    <form method="POST" action="/updateprofile" class="form-group" >
                      <input
                        type="text"
                        class="form-control"
                        placeholder="About me"
                        name="description"
                       />
                    
                      <div class="modal-footer">
                      <button
                         type="button"
                         class="modal-button"
                        data-dismiss="modal"
                      >
                        Close
                      </button>
                     <button
                       type="submit"
                      class="modal-button" 
                      onclick="updateprofile()"
                      >
                      Save changes
                    </button>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
            </div>
            </div>

            <!-- modal for name
            <div
              class="modal fade"
              id="editName"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editName"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="">
                    <h4
                      class="text-center font-weight-bold pt-3"
                      id="exampleModalLongTitle"
                    >
                      Edit UserName
                    </h4>
                  
                  </div>
                  <div class="modal-body">
                    <div>
                      <form action="post" class="form-group" >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Maria Snow"
                        />
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="modal-button"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="modal-button">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div> -->

            <!-- modal for email -->
            <!-- <div
              class="modal fade"
              id="editEmail"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editName"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="">
                    <h4
                      class="text-center font-weight-bold pt-3"
                      id="exampleModalLongTitle"
                    >
                      Edit Email Address
                    </h4>
                    <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                  </div>
                  <div class="modal-body">
                    <div>
                      <form action="post" class="form-group">
                        <input
                          type="email"
                          class="form-control"
                          placeholder="maria@example.com"
                        />
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="modal-button"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                    <button type="button" class="modal-button">
                      Save changes
                    </button>
                  </div>
                </div>
              </div>
            </div> -->

            
            <!-- modal for location -->
            <div
              class="modal fade"
              id="editLocation"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editName"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="">
                    <h4
                      class="text-center font-weight-bold pt-3"
                      id="exampleModalLongTitle"
                    >
                      Edit Location
                    </h4>
                    
                  </div>
                  <div class="modal-body">
                    <div>
                      <form method="POST" action="/updateprofile" class="form-group" >
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Ontario, Canada"
                          name="location"
                         />
                      
                        <div class="modal-footer">
                        <button
                           type="button"
                           class="modal-button"
                          data-dismiss="modal"
                        >
                          Close
                        </button>
                       <button
                         type="submit"
                        class="modal-button" 
                        onclick="updateprofile()"
                        >
                        Save changes
                      </button>
                        </div>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <script src="assets/js/custom3.js"></script>
          <script>
            setCover(document.getElementById('coverPath').innerHTML);
          </script>